
body {
    background: url("bgImg/bg11.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/*开始设置header*/
.head {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    width: 100%;
}

.head > div:first-child {
    box-sizing: border-box;
    width: 12.88%;
    float: left;
    padding: 10px 0 0 65px;
}

.head-sousuo {
    box-sizing: border-box;
    margin: 10px 0;
    float: left;
    border: 1px solid red;
    width: 34.11%;
}

.head-sousuo input {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 4px 10px;
    width: 94%;
    height: 28px;
}

.head-sousuo i {
    display: inline-block;
    transform: scale(1.4);
}

.head .head-daohang {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 0 20px 0 65px;
    width: 38.94%;
    display: flex;
    justify-content: space-between;
    float: left;
    border-right: 1px solid black;
}

.head .head-daohang div i {
    display: inline-block;
    transform: scale(1.4);
}

.head .head-daohang div span {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.head .head-daohang div:hover {
    color: #eb7350;
    cursor: pointer;
}

.head .head-right {
    width: 10%;
    float: left;
    box-sizing: border-box;
    margin-top: 15px;
}

.head .head-right i {
    display: inline-block;
    float: left;
    transform: scale(1.4);
    padding-left: 24px;
}

/*header结束*/

/*填充物1*/
.tianchong1 {
    height: 66px;
    width: 20px;
}

/*设置内容区*//*设置内容区*//*设置内容区*//*设置内容区*//*设置内容区*//*设置内容区*/
.content {
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/*内容区li的hover公共类*/
.content .content-left li:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/*内容区的小红点公共类*/
.content .xiaohongdian {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
}

/*内容区的大白点公共类*/
.content .dabaidian {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    margin-right: 9px;
}

/*内容区left*//*内容区left*//*内容区left*/
.content .content-left {
    box-sizing: border-box;
    width: 150px;
    position: fixed;

}

.content .content-left-jia {
    height: 576px;
    width: 150px;
    float: left;
}

.content .content-left li {
    cursor: pointer;
}

/*内容区left的上面部分*/
.content .content-left .content-left-top {
    border-bottom: 1px solid #AEAEAE;
    padding-bottom: 10px;
}

.content .content-left .content-left-top li {
    padding-left: 15px;
    height: 32px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

/*内容区left的中间部分*/
.content .content-left .content-left-center {
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #AEAEAE;
}

.content .content-left .content-left-center li {
    padding-left: 15px;
    height: 32px;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.content .content-left .content-left-center .content-left-i {
    position: absolute;
    bottom: -30px;
    right: 10px;
}

/*内容区left的下面部分*/
.content .content-left .content-left-bottom {
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 6px;
}

.content .content-left .content-left-bottom li {
    padding-left: 15px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.content .content-left .content-left-bottom li:nth-child(1) {
    padding-left: 10px;
}

.content .content-left .content-left-bottom li:nth-child(1) i {
    margin-right: 4px;
}

.content .content-left .content-left-bottom li:nth-child(2) {
    padding-left: 10px;
}

.content .content-left .content-left-bottom li:nth-child(2) i {
    margin-right: 4px;
}

/*内容区 空ul*/
.content-left .content-left-kong {
    margin-top: -5px;
    position: relative;
}

/*底部展开按钮  收起按钮*/
.content-left .content-left-kong input {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 6px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.content-left .content-left-kong .input1 {
    position: absolute;
    top: 0;
    left: 38%;
    border-bottom: 1px solid #AEAEAE;
}

.content-left .content-left-kong .input2 {
    position: absolute;
    left: 38%;
    bottom: -21px;
    opacity: 0;
}

.content-left .content-left-kong li {
    padding-left: 15px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0;
}

@keyframes move {
    0% {
        transform: translate(0, 0px);
    }
    99% {
        transform: translate(0, 150px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0, 0px);
    }
    99% {
        transform: translate(0, -150px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

.content-left .content-left-kong li:nth-child(3) {
    padding-left: 10px;
}

.content-left .content-left-kong li:nth-child(3) i {
    margin-right: 4px;
}

.content-left .content-left-kong li:nth-child(4) {
    padding-left: 10px;
}

.content-left .content-left-kong li:nth-child(4) i {
    margin-right: 4px;
}

/*内容区left结束*//*内容区left结束*//*内容区left结束*/

/*内容区中间部分*//*内容区中间部分*//*内容区中间部分*/
.content .content-center {
    float: left;
    box-sizing: border-box;
    width: 600px;
}

/*开始设置留言板*//*开始设置留言板*//*开始设置留言板*/

/*留言板头部*/

.content .content-center .liuyanban {
    background-color: rgba(7, 26, 55, 0.5);
    padding: 15px 10px 10px 10px;
}

.content .content-center .liuyanban .liuyanban-head {
    height: 21px;
}

.content .content-center .liuyanban .liuyanban-head p:first-child {
    color: #abd3ff;
    font-size: 14px;
    float: left;
}

.content .content-center .liuyanban .liuyanban-head p:last-child {
    float: right;
}

.content .content-center .liuyanban .liuyanban-head p:last-child a {
    color: #257cde;
}

/*留言板输入框*/
.content .content-center .liuyanban .text {
    background: transparent;
    width: 100%;
    font-size: 14px;
    color: rgb(176, 189, 208);
}

/*留言板底部*/
.content .content-center .liuyanban .liuyanban-foot {
    line-height: 29px;
}

.content .content-center .liuyanban .liuyanban-foot span:hover {
    color: #257cde;
}

.content .content-center .liuyanban .liuyanban-foot ul {
    float: left;
}

.content .content-center .liuyanban .liuyanban-foot ul li {
    float: left;
    margin-left: 18px;
    color: rgb(176, 189, 208);
    cursor: pointer;
}

.content .content-center .liuyanban .liuyanban-foot ul li i {
    display: inline-block;
    margin-right: 5px;
    transform: scale(1.2);
}

.content .content-center .liuyanban .liuyanban-foot > div {
    float: right;
}

.content .content-center .liuyanban .liuyanban-foot > div p {
    float: left;
}

.content .content-center .liuyanban .liuyanban-foot > div p:first-child {
    cursor: pointer;
}

.content .content-center .liuyanban .liuyanban-foot > div p:last-child {
    background: rgb(255, 192, 159);
    width: 80px;
    height: 28px;
    border: 1px solid rgb(255, 192, 159);
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

/*留言板结束*//*/*留言板结束*//*留言板结束*/
/*填充*/
.content .content-center .liuyanban-tianchong {
    height: 10px;
    width: 100%;
    position: relative;
}

.content .content-center .remenweibo {
    line-height: 29px;
    padding: 4px 13px 4px 20px;
    border-bottom: 1px solid rgb(18, 38, 66);
    background-color: rgba(7, 26, 55, 0.5);
}

.content .content-center .remenweibo i:first-child {
    margin-right: 5px;
}

.content .content-center .remenweibo i:last-child {
    float: right;
}

.content .content-center .remenweibo i:last-child:hover {
    cursor: pointer;
    color: rgb(255, 130, 0);
}

/*内容区中间结束*//*内容区中间结束*//*内容区中间结束*/

/*内容显示区show*//*内容显示区show*//*内容显示区show*/
.content .content-center .show {
    box-sizing: border-box;
    padding: 20px 0;
    background-color: rgba(7, 26, 55, 0.5);
}

.content .content-center .show li {
    width: 100%;
}

.content .content-center .show li > div:nth-child(1) {
    border-bottom: 1px solid #122642;
    padding: 0 20px;
}

.content .content-center .show li > div:nth-child(1) div {
    float: left;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(4) {
    float: right;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(1) {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(1) img {
    width: 50px;
    height: 50px;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(2) p:first-child {
    margin-bottom: 6px;
    font-size: 14px;
    margin-top: 5px;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(3) {
    width: 48px;
    height: 20px;
    background-color: black;
    text-align: center;
    border: 1px solid #d9d9d9;
    margin-left: 270px;
    cursor: pointer;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(3) i {
    color: rgb(249, 88, 88);
    display: inline-block;
    transform: scale(1.4);
}

.content .content-center .show li > div:nth-child(1) div:nth-child(4):hover {
    color: #eb7350;
    cursor: pointer;
}

.content .content-center .show li > div:nth-child(1) div:nth-child(4) p {
    opacity: 0;
    transition: all 0.5s;
}

/*展示内容show的中间部分*/
.content .content-center .show li > div:nth-child(2) {
    font-size: 14px;
    padding: 0 20px 0 80px;
}

.content .content-center .show li > div:nth-child(2) img {
    width: 32%;
}

/*展示内容show的底部*/
.content .content-center .show li > div:nth-child(3) {
    box-sizing: border-box;
    padding: 6px 0;
    border-top: 1px solid #122642;
    border-bottom: 1px solid #122642;

}

.content .content-center .show li > div:nth-child(3) div {
    box-sizing: border-box;
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #122642;
    cursor: pointer;
}

.content .content-center .show li > div:nth-child(3) div:hover {
    color: #257cde;
}

.content .content-center .show li > div:nth-child(3) div:last-child {
    border-right: none;
}

.content .content-center .show li > div:nth-child(3) div:last-child big {
    color: red;
    font-size: 18px;
}

.content .content-center .show li > div:nth-child(3) div i {
    display: inline-block;
    margin-right: 5px;
}

/*内容区右边部分*//*内容区右边部分*//*内容区右边部分*//*内容区右边部分*/
.content .content-right {
    box-sizing: border-box;
    float: left;
    width: 232px;
    margin: 0 9px 0 9px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/*设置头像*/
.content .content-right > div:nth-child(1) > div:nth-child(1) {
    height: 75px;
    position: relative;
}

.content .content-right > div:nth-child(1) > div:nth-child(1) > div {
    box-sizing: border-box;
    height: 66px;
    width: 66px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -33px;
}

.content .content-right > div:nth-child(1) > div:nth-child(1) > div > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 3px;
}

/*设置头像下面的用户名*/
.content .content-right > div:nth-child(1) > div:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.content .content-right > div:nth-child(1) > div:nth-child(2) div {
    width: 140px;
    margin: 0 auto;
}

.content .content-right > div:nth-child(1) > div:nth-child(2) div p {
    float: left;
    margin-left: 3px;
}

.content .content-right > div:nth-child(1) > div:nth-child(2) div p:last-child {
    width: 30px;
    height: 14px;
    font-style: italic;
    font-size: 12px;
    background-color: red;
    border-radius: 8px;
    line-height: 14px;
    margin-top: 5px;
}

/*关注 粉丝 微博*/
.content .content-right > div:nth-child(1) > div:nth-child(3) > div {
    background-color: rgba(255, 255, 255, 0.1);
    width: 33%;
    text-align: center;
    float: left;
}

.content .content-right > div:nth-child(1) > div:nth-child(3) > div p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.content .content-right > div:nth-child(1) > div:nth-child(3) > div p:last-child {
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.5)
}

/*微博电影榜单*/
.content .content-right > div:nth-child(2) {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.content .content-right > div:nth-child(2) > div:nth-child(1) {
    padding-left: 10px;
    color: #b0bdd0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
    height: 39px;
    line-height: 39px;
    cursor: pointer;
}

.content .content-right > div:nth-child(2) > div:nth-child(1):hover {
    color: #257cde;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) {
    padding-left: 5px;
    border-bottom: 1px solid #d9d9d9;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    border-bottom: 1px solid #d9d9d9;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) img {
    height: 96px;
    width: 72px;
    float: left;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) .daoyan {
    width: 150px;
    float: left;
    margin-left: 3px;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) .daoyan p {
    text-overflow: ellipsis;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) .daoyan i {
    display: inline-block;
    background: #df3e3e;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    height: 49px;
    line-height: 49px;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) i {
    display: inline-block;
    background: #df3e3e;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
    height: 49px;
    line-height: 49px;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) i {
    display: inline-block;
    background: #df3e3e;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(4) {
    text-align: center;
    height: 36px;
    line-height: 36px;
}

.content .content-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(4) i {
    color: rgb(255, 130, 0);
}

/*热门话题*//*热门话题*//*热门话题*/
.content .content-right .content-right-ul {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.content .content-right .content-right-ul li:nth-child(1) {
    padding-left: 10px;
    color: #b0bdd0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
    height: 39px;
    line-height: 39px;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
}

.content .content-right .content-right-ul li:nth-child(1):hover {
    color: #257cde;
}

.content .content-right .content-right-ul li:not(:first-child) {
    padding: 8px 0 5px 10px;
}

.content .content-right .content-right-ul li:not(:first-child) i {
    float: right;
    padding-right: 15px;
}

#show2222 {
    width: 100%;
    height: 1183px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: absolute;
    top: 0;
}

#show2222 div {
    box-sizing: border-box;
    padding: 20px 10px;
    height: 300px;
    width: 250px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 3px;
}

#show2222 div .user {
    font-size: 18px;
}

#show2222 div .shuru {
    width: 170px;
    height: 28px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#show2222 div .denglu {
    font-size: 25px;
    width: 70px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: green;
    border-radius: 5px;
    display: block;
    margin: 50px auto;
}

#show2222 div .yincangp1 {
    position: absolute;
    top: 140px;
    left: 38px;
    border: 1px solid rgba(37, 153, 123, 0.5);
    display: none;
    cursor: pointer;
}

#show2222 div .yincangp2 {
    position: absolute;
    top: 138px;
    right: 10px;
    border: 1px solid rgba(37, 153, 123, 0.5);
    display: none;
    cursor: pointer;
}
#xianshi1{
    cursor: pointer;
}
#xianshi2{
    cursor: pointer;
}
/*内右边部分结束*//*内右边部分结束*//*内右边部分结束*//*内右边部分结束*/

/*内容区结束*//*内容区结束*//*内容区结束*//*内容区结束*//*内容区结束*//*内容区结束*/