
body {
    background-color: #f4f4f4;
}

.order {
    background: url(../img/order/order-bg.png) no-repeat center;
    background-size: 96px;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
    position: relative;
    overflow: auto;
    /*height: 600px;*/
}

.order-middle {
    position: absolute;
    top: 36.6%;
    padding-top: 63px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 1;
    color: #666;
}

.order-middle > a {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 8px;
    border-radius: 3px;
    color: #fff;
    background: #47b34f;
    line-height: 1;
}


